{% extends 'projects/layout.html' %}
{% load static %}
{% block title %}
    {{  project.title }}
{% endblock %}

{% block content %}

<div class="container-fluid projectDetails">
  <div class="row">
    <div class="col-md-12 m-3">
      <h1> <span> Create Project </span>
       </h1>
    </div>
  </div>
  <form method="post" enctype="multipart/form-data" class="ml-5">
    <p>Note: use comma separted for multiple tags </p>
    {% csrf_token %} 
    {% for field in project_form %}
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label class="control-label"> {% if field.label != "User" %} {{ field.label }}: {% endif %} </label>
            </div>
            <div class="col-md-10">
              {{ field }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
      <div class="row">

        <div class="col-md-2" >
                <label for="tags">Tags :</label>
        </div>
            <div class="col-md-10" >

                <input
                    type="text"
                    name="project_tags"
                    class="form-control"
                    data-role="tagsinput"
                    id="tags"
                    required
                />
                <small id="tagsError" class="form-text text-danger"></small>

            </div>

          </div>

    <div class="row">
        <div class="col-md-12">
            <h3> Upload Images </h3>
        </div>
    </div>
    {{ picture_form.management_form }}
    {% for form in picture_form %}
    {{ form  }} <br />
    {% endfor %}

    <button type="submit">Submit</button>
  </form>
</div>

{% endblock  %}
{% block js %}

{% endblock  %}