{% extends 'projects/layout.html' %}
{% load static %}
{% block title %}
    {{  project.title }}
{% endblock %}

{% block content %}
<div class="container-fluid projectDetails">
  <div class="row">
    <div class="col-md-12 m-3">
      <h1>
        <span> Make Dontation to {{ project.title }} </span>
      </h1>
    </div>
  </div>
  <form method="post" enctype="multipart/form-data" class="ml-5">
    {% csrf_token %}

    {% for field in donate_form %}
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label class="control-label"> {% if field.label == "Amount" %} {{ field.label }}: {% endif %} </label>
            </div>
            <div class="col-md-10">
              {{ field }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <button class="btn" type="submit">Submit</button>
  </form>
</div>


{% endblock  %}
{% block js %}

{% endblock  %}