{% extends 'users/base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}
    <div class="container flex-grow-1">
        <form class="container" method="post" action="{% url 'change-password' %}">
            {% csrf_token %}
            <h1 class="text-center">Change Password</h1>
            {% if error %}
                <div class="alert alert-danger text-center ">
                    {{ error }}
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="old-password" class="form-label">Old Password</label>
                <input type="password" class="form-control" id="old-password" placeholder=""
                       name="old-password"">
            </div>
            <div class="mb-3">
                <label for="new-password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="new-password" placeholder=""
                       name="password1">
            </div>
            <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirm-password" placeholder=""
                       name="password2">
                <button class="btn btn-primary" type="submit">Change Password</button>
            </div>
        </form>
    </div>
{% endblock %}