<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registraion</title>
</head>
<body>



  <form method="POST" action="{% url 'checkdata' %}" enctype="multipart/form-data">
      {% csrf_token %}
    {%  for field in formregister %}
       <p>
          {{ field.label_tag }}
           {{field}}
           {% if field.help_text %}
           <small style="color:gray;">
               {{field.help_text}}
           </small>
           {% endif %}
           {% for error in field.errors %}
            <p style="color:red;">
               {{error}}
           </p>
           {% endfor %}
       </p>

   {% endfor %}
      <input type="submit" name="sign in">
  </form>
</body>
</html>