{% extends "users/base.html" %}
{% block title %} Home {% endblock %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <dev class="row">
        <dev class="col-md-1"></dev>
        <dev class="col-md-3">
            <ul class="list-group mt-5">
                <li class="list-group-item "><strong
                        style="background: green; color: white; font-size: large">Category</strong></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Category one
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Category two
                    <span class="badge bg-primary rounded-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Category three
                    <span class="badge bg-primary rounded-pill">1</span>
                </li>
            </ul>
        </dev>
        <dev class="col-md-1"></dev>

        {% if highest_projects %}
        {% endif %}
        <dev class="col-md-5">
            <div class="container border mt-5 mb-5">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for project in highest_projects %}
                            <button type="button" data-bs-target="#carouselExampleCaptions"
                                    data-bs-slide-to="{{ forloop.counter0 }}"
                                    {% if forloop.first %} class="active"  {% endif %}
                                    aria-label="Slide {{ forloop.counter }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">

                        {% for project in highest_projects %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %} ">
                                <img width="200px" height="300px" src="{% static 'users/images/301d4432918ccd3.jpg' %}"
                                     class="d-block w-100" alt="">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ project.title }}</h5>
                                    <p>{{ project.details }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </dev>
    </dev>
    {% if latest_projects %}
        <div class="row justify-content-center">
            {% for project in latest_projects %}
                <div class="card col-md-1 " style="width: 18rem;">
                    <img src="{% static 'users/images/301d4432918ccd3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.details }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% endif %}


{% endblock %}
