<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login </title>
</head>
<body>



  <form method="POST" action="{% url 'loginform' %}" enctype="multipart/form-data">
      {% csrf_token %}
    {%  for field in formlogin %}
       <p>
          {{ field.label_tag }}
           {{field}}
           {% if field.help_text %}
           <small style="color:gray;">
               {{field.help_text}}
           </small>
           {% endif %}
           {% for error in field.errors %}
            <p style="color:red;">
               {{error}}
           </p>
           {% endfor %}

         {% if formlogin.non_field_errors %}
           <div style="color:red;">
               <p>
                   {{ formlogin.non_field_errors }}
               </p>

           </div>
         {% endif %}
       </p>

   {% endfor %}
      <button type="submit"> log in </button>
  </form>
</body>
</html>