{% extends "users/base.html" %} {% block title %} Profile {% endblock %}
{% load static %} {% block content %}
    <div class="justify-content-center">
    <label>First name</label>
    {{ current_user.first_name }}<br/>
    <label>Last name</label>
    {{ current_user.last_name }}<br/>
    <label>Email</label>
    {{ current_user.email }}<br/>
    <label>Countre</label>
    {{ current_user.country }}<br/><br/>

    <img
            width="150px"
            height="150px"
            src="{{ current_user.profile_picutre.url }}"
    /><br/><br/>

    <label>Moblie Number</label>
    {{ current_user.mobile_phone }}<br/>
    <label>Birth Date</label>
    {{ current_user.birth_date }}<br/><br/><br/>

    <a class="btn btn-info" href="{% url 'change-password' %}">Change Password</a
    ><br/>
    <a class="btn btn-primary" href="{% url 'edit-profile' %}">Edit Profile</a
    ><br/>
    <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteAccount"
            data-bs-whatever="test"
    >
        Delete Account
    </button>
    <div
            class="modal fade"
            id="deleteAccount"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAccount">
                        Deleting Account Confirmation
                    </h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label"
                            >Enter Your Password:</label
                            >
                            <input type="password" class="form-control" id="password"/>
                        </div>
                        <div class="mb-3">
                            <div id="errors-message"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                            id="close-modal"
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <button type="button" class="btn btn-danger" onclick="checkPassword()">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="{% url 'delete-account' %}">
        {% csrf_token %}
        <button id="submit-deleteAccount" hidden="hidden" type="submit"></button>
    </form>
    <script>
        function sendAjaxRequestToCheckPassword(password) {
            $.ajax({
                url: "{% url 'check-password' %}",
                type: "get",
                data: {
                    password: password,
                },
                success: function (response) {
                    if (response.isPasswordCorrect == true) {
                        deleteAccount();
                    } else {
                        let error_message_location = document.getElementById(
                            "errors-message"
                        );
                        let error_message = document.createElement("p");
                        error_message.textContent = "Password is not correct !";
                        error_message_location.appendChild(error_message);
                    }
                },
            });
        }

        function checkPassword() {
            let password_field = document.getElementById("password");
            sendAjaxRequestToCheckPassword(password_field.value);
            clearTheModal();
        }

        function clearTheModal() {
            let error_message_location = document.getElementById("errors-message");
            error_message_location.innerHTML = "";
            let password_field = document.getElementById("password");
            password_field.value = "";
        }

        function deleteAccount() {
            let closeModalButton = document.getElementById("close-modal");
            let submitDeleteAccount = document.getElementById("submit-deleteAccount");
            closeModalButton.click();
            submitDeleteAccount.click();
        }

        let modal = document.getElementById("deleteAccount");
        modal.addEventListener("hidden.bs.modal", clearTheModal());
    </script>
    </div>


    <div class="container justify-content-center">
        <div class="container justify-content-center">
            <img src="{% static 'users/icons/project.svg' %}" width="70" class="d-inline"/>
            <h1 class="font-italic d-inline text-center">Your Projects</h1>
        </div>
        <br/><br/>

        {% for project in projects %}

            <div class="card text-center" style="width: 18rem; display: inline-block">
                <img
                        class="card-img-top"
                        src="{{ project.images_set.first.path.url }}"
                        alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.details }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Category: </b>{{ project.category }}</li>
                    <li class="list-group-item">
                        <b>Total Target: </b>{{ project.total_target }}
                    </li>
                    <li class="list-group-item"><b>Created At: </b>{{ project.created_at }}</li>
                    <li class="list-group-item"><b>Start Time: </b>{{ project.start_time }}</li>
                    <li class="list-group-item"><b>End Time: </b>{{ project.end_time }}</li>
                </ul>
                <div class="card-body">
                    <a
                            href="{% url 'deleteItem' project.id %}"
                            class="btn btn-danger btn-sm"
                            role="button"
                            style="width: 16px"
                    >x</a
                    >
                </div>
            </div>

        {% endfor %}
        <br/><br/><br/><br/>

        <div class="container align-items-center">
            <img src="{% static 'users/icons/donate.svg' %}" width="70" class="d-inline"/>
            <h1 class="font-italic d-inline">Your Donations</h1>
        </div>
        <br/><br/>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Project Name</th>
                <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for d in donations %}
                <tr>
                    <td>{{ d.project.title }}</td>
                    <td>{{ d.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
